:root{
    --my-padding: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    color: white;
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 2.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "main nav nav nav" 
    "hero hero hero hero"
    "main2 main2 image image"
    "main2 main2 extra extra"
    "banner banner banner banner"
    ;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;

}

nav{
    align-items: center;
    display: grid;
    background-color: red;
    grid-area: nav;
    padding: var(--my-padding);
}

.hero{
    align-items: center;
    display: grid;
    background-color: rgb(8, 72, 209);
    grid-area: hero;
    padding: var(--my-padding);
}

.main2{
    align-items: center;
    display: grid;
    background-color: rgb(102, 14, 7);
    grid-area: main2;
    padding: var(--my-padding);
}

.banner{
    align-items: center;
    display: grid;
    background-color: rgb(255, 102, 0);
    grid-area: banner;
    padding: var(--my-padding);
}

.extra{
    align-items: center;
    display: grid;
    background-color: rgb(34, 167, 8);
    grid-area: extra;
    padding: var(--my-padding);
}

main{
    align-items: center;
    display: grid;
    background-color: black;
    grid-area: main;
    padding: var(--my-padding);
}

.image{
    align-items: center;
    display: grid;
    background-color: rgb(108, 141, 211);
    grid-area: image;
    padding: var(--my-padding);
}

@media (max-width:1024px) {

    .container{
        grid-template-columns: 1fr 1fr 0.5fr 1fr;
        grid-template-rows: 1fr 1fr 2.5fr 1fr 1fr;
        grid-template-areas: 
        "main main main main"
        "hero hero hero hero"
        "nav main2 main2 main2"
        "nav banner banner banner"
        "nav extra extra image"
        ;
    }
   
}

@media (max-width:480px) {

    .container{
        gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.75fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "main"
        "nav"
        "hero"
        "main2"
        "banner"
        "extra"
        "image"
        ;
    }    
}
